In [2]:
from load_data import *
from collections import Counter
import email
import string
from datetime import datetime

In [3]:
df = load_data()

In [4]:
df.shape

(517401, 4)

In [27]:
df.head()

,Date,From,To,content
0,2001-05-14 16:39:00-07:00,phillip.allen@enron.com,[tim.belden@enron.com],Here is our forecast\n\n
1,2001-05-04 13:51:00-07:00,phillip.allen@enron.com,[john.lavorato@enron.com],Traveling to have a business meeting takes the...
2,2000-10-18 03:00:00-07:00,phillip.allen@enron.com,[leah.arsdall@enron.com],test successful. way to go!!!
3,2000-10-23 06:13:00-07:00,phillip.allen@enron.com,[randall.gay@enron.com],"Randy,\n\n Can you send me a schedule of the s..."
4,2000-08-31 05:07:00-07:00,phillip.allen@enron.com,[greg.piper@enron.com],Let's shoot for Tuesday at 11:45.

In [6]:
len(df[df['To'].str.len() > 1])

141256

In [7]:
df.iloc[44]

Date                               2000-09-18 02:34:00-07:00
From                                 phillip.allen@enron.com
To                                     [jsmith@austintx.com]
content    Jeff,\n\n I need to see the site plan for Burn...
Name: 44, dtype: object

In [8]:
len(df['From'].unique())

20328

In [9]:
##group by date and count and graph, unique senders and receivers,

In [10]:
df.head()

,Date,From,To,content
0,2001-05-14 16:39:00-07:00,phillip.allen@enron.com,[tim.belden@enron.com],Here is our forecast\n\n
1,2001-05-04 13:51:00-07:00,phillip.allen@enron.com,[john.lavorato@enron.com],Traveling to have a business meeting takes the...
2,2000-10-18 03:00:00-07:00,phillip.allen@enron.com,[leah.arsdall@enron.com],test successful. way to go!!!
3,2000-10-23 06:13:00-07:00,phillip.allen@enron.com,[randall.gay@enron.com],"Randy,\n\n Can you send me a schedule of the s..."
4,2000-08-31 05:07:00-07:00,phillip.allen@enron.com,[greg.piper@enron.com],Let's shoot for Tuesday at 11:45.

In [11]:
df.groupby('From').count().sort_values(['content'], ascending=False).head(25)

                                Date     To  content
From
kay.mann@enron.com             16735  16721    16735
vince.kaminski@enron.com       14368  14329    14368
jeff.dasovich@enron.com        11411  11387    11411
pete.davis@enron.com            9149   9149     9149
chris.germany@enron.com         8801   8745     8801
sara.shackleton@enron.com       8777   8757     8777
enron.announcements@enron.com   8587   8577     8587
tana.jones@enron.com            8490   8447     8490
steven.kean@enron.com           6759   6220     6759
kate.symes@enron.com            5438   5435     5438
matthew.lenhart@enron.com       5265   5256     5265
eric.bass@enron.com             5158   5154     5158
no.address@enron.com            5112    270     5112
debra.perlingiere@enron.com     4387   4355     4387
sally.beck@enron.com            4343   4334     4343
mark.taylor@enron.com           4111   4078     4111
susan.scott@enron.com           4000   3902     4000
gerald.nemec@enron.com          3888   3868     3888
drew.fossum@enron.com           3706   3693     3706
john.arnold@enron.com           3578   3568     3578
carol.clair@enron.com           3564   3544     3564
benjamin.rogers@enron.com       3427   3407     3427
richard.sanders@enron.com       3262   3210     3262
phillip.love@enron.com          3112   3107     3112
david.delainey@enron.com        3069   3050     3069

In [11]:
# Just need to run this block the first time, to create the sequences files, later is easier to read the file
#sequences = list(map(clean_body,df['content']))
#write_sequence_file(sequences, '../data/sequences.txt')

In [12]:
lines = load_sequences('../data/sequences.txt')

In [13]:
len(lines)

6142474

In [14]:
c = Counter(lines)

In [15]:
c.most_common(20)

[('thank you', 20099),
 ('unknown database', 8146),
 ('start date hourahead hour no ancillary schedules awarded', 7368),
 ('an error occurred while attempting to initialize the borland database engine error',
  7361),
 ('dow jones company inc all rights reserved', 6699),
 ('any review use distribution or disclosure by others is strictly prohibited',
  5044),
 ('this email and any attachments hereto are not intended to be an offer or an acceptance and do not create or evidence a binding and enforceable contract between enron corp or any of its affiliates and the intended recipient or any other party and may not be relied on by anyone as the basis of a contract by estoppel or otherwise',
  4797),
 ('if you are not the intended recipient or authorized to receive for the recipient please contact the sender or reply to enron corp at enronmessagingadministrationenroncom and delete all copies of the message',
  4793),
 ('no variances detected', 4570),
 ('insufficient memory for this operation', 4554),
 ('all rights reserved', 4175),
 ('log messages parsing file oportlandwestdeskcalifornia schedulingiso final',
  3441),
 ('best jeff', 3357),
 ('thanks for your help', 3302),
 ('let me know', 2947),
 ('variances detected', 2831),
 ('thanks kay', 2795),
 ('copyright dow jones company inc all rights reserved', 2694),
 ('let me know if you have any questions', 2628),
 ('alias error cannot perform this operation on a closed database', 2261)]

In [16]:
import itertools
words = list(itertools.chain.from_iterable(map(lambda s: s.split(), lines)))

In [17]:
len(words)

123109401

In [28]:
word_counter = Counter(words)

In [19]:
word_counter.most_common(50)

[('the', 5617685),
 ('to', 3976502),
 ('and', 2520080),
 ('of', 2335657),
 ('a', 1931938),
 ('in', 1716463),
 ('for', 1437250),
 ('on', 1223571),
 ('is', 1212818),
 ('you', 1137126),
 ('that', 1068691),
 ('i', 977987),
 ('this', 898987),
 ('be', 839728),
 ('with', 759894),
 ('will', 733864),
 ('from', 730938),
 ('at', 695209),
 ('have', 693625),
 ('by', 676598),
 ('we', 670702),
 ('are', 648228),
 ('it', 625983),
 ('as', 619605),
 ('or', 575258),
 ('not', 491463),
 ('if', 489733),
 ('enron', 477405),
 ('your', 472971),
 ('subject', 441147),
 ('pm', 401565),
 ('am', 392934),
 ('please', 386450),
 ('an', 371415),
 ('has', 346177),
 ('would', 329552),
 ('any', 322636),
 ('was', 313854),
 ('email', 311225),
 ('all', 310151),
 ('power', 298487),
 ('cc', 297402),
 ('me', 294314),
 ('our', 293512),
 ('energy', 274889),
 ('can', 274779),
 ('its', 272554),
 ('new', 271664),
 ('but', 269710),
 ('he', 241828)]

In [29]:
len(word_counter)

523492

In [20]:
from nltk.corpus import stopwords

In [23]:
for sword in stopwords.words('english'):
    del word_counter[sword]

In [24]:
word_counter.most_common(50)

[('enron', 477405),
 ('subject', 441147),
 ('pm', 401565),
 ('please', 386450),
 ('would', 329552),
 ('email', 311225),
 ('power', 298487),
 ('cc', 297402),
 ('energy', 274889),
 ('new', 271664),
 ('said', 240725),
 ('message', 239300),
 ('may', 232706),
 ('sent', 207602),
 ('gas', 202954),
 ('time', 200730),
 ('know', 200167),
 ('us', 193957),
 ('company', 183598),
 ('information', 178551),
 ('also', 176896),
 ('one', 176129),
 ('get', 173374),
 ('original', 170222),
 ('market', 168931),
 ('need', 158351),
 ('thanks', 147639),
 ('call', 145698),
 ('forwarded', 145652),
 ('like', 140659),
 ('california', 138205),
 ('business', 137381),
 ('could', 129205),
 ('see', 127969),
 ('let', 127063),
 ('price', 123038),
 ('week', 122210),
 ('last', 121933),
 ('attached', 121256),
 ('state', 119545),
 ('day', 113644),
 ('corp', 111780),
 ('agreement', 110350),
 ('meeting', 110080),
 ('john', 109652),
 ('houston', 109464),
 ('deal', 107103),
 ('mark', 106145),
 ('make', 105106),
 ('year', 104394)]

In [4]:
len(df_kay)

16735

In [5]:
sequences_kay = list(map(clean_body,df_kay['content']))
write_sequence_file(sequences_kay, '../data/sequences_kay.txt')

In [9]:
len(df_pete)

5158